<div class="grid gap-8 grid-cols-2">
  <div class="flex flex-col gap-2">
    <img src="/images/kitchen_blog.jpg" class="h-[280px] rounded-lg object-cover">
    <div>
      <span class="text-sm text-gray-400">
        16 April 2023
      </span>
    </div>
    <h3 class="text-xl text-slate-900 font-medium my-1">Fridge for a large family</h3>
    <p class="text-base text-gray-600">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Doloremque recusandae optio vero animi eligendi. Sit modi incidunt
      reprehenderit, itaque nisi ab qui, unde hic dolor libero vel,
      animi vitae asperiores.
    </p>
    <a href="#" class="text-base text-blue-700 underline ml-[auto]">More &#8594;</a>
  </div>
  <div class="flex flex-col gap-2">
    <img src="/images/tv_blog.jpg" class="h-[280px] rounded-lg object-cover">
    <div>
      <span class="text-sm text-gray-400">
        23 March 2023
      </span>
    </div>
    <h3 class="text-xl text-slate-900 font-medium my-1">Best TVs for small room</h3>
    <p class="text-base text-gray-600">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Doloremque recusandae optio vero animi eligendi. Sit modi incidunt
      reprehenderit, itaque nisi ab qui, unde hic dolor libero vel,
      animi vitae asperiores.
    </p>
    <a href="#" class="text-base text-blue-700 underline ml-[auto]">More &#8594;</a>
  </div>
</div>
