<div class="relative grid flex-col grid-rows-[360px,_min-content]">
  <div class="flex items-center p-2">
    {% if product.energyClass %}<span class="absolute top-0 left-0"><img
        src="/images/energy-class-{{product.energyClass}}.jpg" alt="Energy class" /></span>{% endif
    %}
    <a href="#"><img src="{{product.image}}" alt="{{product.name}}" class="object-contain" /></a>
  </div>
  <div class="flex flex-col items-center space-y-3">
    <a href="#" class="mr-[auto] text-base font-medium text-slate-800">{{product.name}}</a>
    <div role="button" tabindex="-1" class="inline-flex flex-col items-center bg-orange-500
        rounded-md px-0.5 py-0.5">
      {% if productType %}<span class="px-4 py-1">{{productType}}</span>{% endif %}
      <span
        class="w-full bg-white rounded-b p-1 font-semibold text-slate-800 text-center text-lg">${{product.price}}</span>
    </div>
    <button class="rounded-md bg-blue-700 hover:bg-blue-800 outline-none text-white px-8 py-2
        w-full antialiased font-normal">Add to
      cart</button>
  </div>
</div>
